# Dependencies
node_modules/
frontend/node_modules/

# Frontend
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Neon
.neon
.agents/
.claude/
.github/
.vercel
